/* header */
header li:nth-child(4) a{
  color: #ffffff;
}
/* introdução */
.introducao-contato{
  width: 100%;
  background: url("../img/contato/bg-contato.jpg") no-repeat center;
  height: 160px;
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding: 30px 0;
}
.introducao-contato p{
  color: #ffffff;
}
.introducao-contato h1{
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0px;
}
.introducao-contato h1:after{
  background-color: #ffffff;
  margin: 6px auto 10px auto;
}

/* section contato */
.contato{
  width: 100%;
  padding: 45px 0;
}

.form{
  padding-right: 60px;
}
.form label{
  font-size: 18px;
}
.form input, .form textarea{
  width: 100%;
  background: none;
  border:4px solid #FFC640;
  padding: 7px 10px;
  outline: none;
  margin: 5px auto 10px auto;
}
.form textarea{
  height: 120px;
}
.contato .btn{
  background: none;
  padding: 7px 40px;
}

.contato h3{
  font-size: 18px;
  color: #FFC640;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
}
.contato span{
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.dados span:nth-of-type(even){
  margin-bottom: 30px;
}
.dados span{
  font-size: 18px;
  line-height: 30px;
}

.contato-redes-sociais .icones-redes-sociais{
  margin-top: 10px;
}
.contato-redes-sociais .icones-redes-sociais img{  
  margin-right: 15px;
}
.contato-redes-sociais .icones-redes-sociais img:hover{
  border-color: #000000;
}
/* mapa */
.mapa{
  height: 280px;
  margin-bottom: 60px;
}