/* header */
header li:nth-child(3) a{
  color: #ffffff;
}
/* introdução */
.introducao-portfolio{
  /* width: 100%; */
  background: url("../img/portfolio/bg-portfolio.jpg") no-repeat center;
  height: 160px;
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding: 30px 0;
}
.introducao-portfolio p{
  color: #ffffff;
}
.introducao-portfolio h1{
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0px;
}
.introducao-portfolio h1:after{
  background-color: #ffffff;
  margin: 6px auto 10px auto;
}


/* avaliações de clientes */
.avaliacoes-clientes{
  text-align: right;
  padding: 60px 0 40px 0;
}
.avaliacoes-clientes p, .avaliacoes-clientes cite{
  font-size: 18px;
}
.avaliacoes-clientes cite{
  font-weight: bold;
}
.avaliacoes-clientes p{
  text-align: center;
  margin-bottom: 20px;
}
.avaliacoes-clientes blockquote{
  margin: 0 250px;
}