/* header */
header li:nth-child(2) a{
  color: #ffffff;
}
/* introdução */
.introducao-produtos{
  width: 100%;
  background: url("../img/produtos/bg-produtos.jpg") no-repeat center;
  height: 160px;
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding: 30px 0;
}
.introducao-produtos p{
  color: #ffffff;
}
.introducao-produtos h1{
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0px;
}
.introducao-produtos h1:after{
  background-color: #ffffff;
  margin: 6px auto 10px auto;
}

/* produtos lista */
 .lista-produtos{
   margin-bottom: 60px;
 }
.produto-item{
  clear: both;
  padding-top: 60px;
}
.lista-produtos .banner h2{
  padding: 100px 0;
}
.lista-produtos .passeio .banner h2{
  background: url("../img/produtos/bikcraft-passeio-1.jpg") no-repeat center;
}
.lista-produtos .esporte .banner h2{
  background: url("../img/produtos/bikcraft-esporte-1.jpg") no-repeat center;
}
.lista-produtos .retro .banner h2{
  background: url("../img/produtos/bikcraft-retro-1.jpg") no-repeat center;
}

.lista-produtos .subtitulo{
  color: #ffffff;
  font-size: 36px;
}

.banner .subtitulo:before{
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background: #ffffff;
  margin: 8px auto;
}
.banner .subtitulo:after{
  background: #ffffff;
}
.icone-bike img{
  padding: 70px 40px;
  background: #000000;
}

/* Orçamento */
.orcamento{
  width: 100%;
  background: #000000;
  padding: 45px 0;
}
.orcamento .subtitulo{
  font-size: 24px;
  margin-bottom: 40px;
}
.orcamento .subtitulo:after{
  margin: 8px auto;
}

.form{
  padding-right: 60px;
  margin-left: 10px;
}
.form label{
  font-size: 18px;
  color: #ffffff;
}
.form input, .form textarea{
  width: 100%;
  background: none;
  color:#ffffff;
  border:4px solid #FFC640;
  padding: 7px 10px;
  outline: none;
  margin: 5px auto 10px auto;
}
.form textarea{
  height: 120px;
}
.orcamento .btn{
  background: none;
  padding: 7px 40px;
}

.orcamento h3{
  font-size: 18px;
  color: #FFC640;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
}
.orcamento span{
  color: #ffffff;
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.dados{
  margin-bottom: 40px;
}
.dados span{
  font-size: 18px;
  line-height: 30px;
}

.instrucao{
  padding: 10px 15px;
  color: #ffffff;
}
.instrucao:nth-child(odd){
  background: #1d1d1d;
}
.titulo-instrucao{
  margin: 10px 0;
}
