/* header */
header li:nth-child(1) a{
  color: #ffffff;
}
/* introdução */
.introducao-sobre{
  width: 100%;
  background: url("../img/sobre/bg-sobre.jpg") no-repeat center;
  height: 160px;
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding: 30px 0;
}
.introducao-sobre p{
  color: #ffffff;
}
.introducao-sobre h1{
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0px;
}
.introducao-sobre h1:after{
  background-color: #ffffff;
  margin: 6px auto 10px auto;
}

/* história, visão, missão e valores */
.texto-sobre{
  margin-top: 60px;
}
.sobre-conteudo .subtitulo{
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
}
.sobre-conteudo .subtitulo:after{
  margin-left: 0px;
}

.sobre-conteudo .valores p{
  font-size: 18px;
  line-height: 30px;
}
.sobre-conteudo .historia p{
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 18px;
  padding-right: 50px;
}
.sobre-conteudo .foto-equipe{
  margin-top: 40px;
}


/* qualidade */
.qualidade{
  padding:60px 0 180px 0;
}
.qualidade:after{
  top:206px;
}