/* Estilos gerais */
body{
  font-family: Helvetica, Arial, sans-serif;
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
}

img{
  display: block;
}
.btn{
  border: 3px solid #FFC640;
  padding: 10px 30px;
  color: #FFC640;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
}
.btn.hover-branco:hover{
  color: #ffffff;
  border-color: #ffffff;
}
.btn.hover-preto:hover{
  color: #000000;
  border-color: #000000;
}
.subtitulo-grande{
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  font-size: 24px;
  text-align: center;
}

.subtitulo-grande.texto-amarelo{
  color:#FFC640;
}
.subtitulo{
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  font-size: 18px;
  text-align: center;
}
.subtitulo.texto-amarelo{
  color:#FFC640;
}

.subtitulo-grande:after{
  content: "";
  display: block;
  height: 3px;
  width: 60px;
  background: #000000;
  margin: 8px auto 0 auto;
}
.subtitulo-grande.texto-amarelo:after{
  background:#FFC640;
}
.subtitulo:after{
  content: "";
  display: block;
  height: 3px;
  width: 60px;
  background: #000000;
  margin: 8px auto;
}
.subtitulo.texto-amarelo:after{
  background:#FFC640;
  margin: 8px 0;
}
.call{
  text-align: center;
  padding: 40px 0;
}
.call p{
  margin-bottom: 20px;
}

/* Header */
header{
  width: 100%;
  background-color: #FFC640;
  padding: 15px 0;
  position: fixed;
  top: 0px;
  z-index: 10;
}
.header_menu{
  text-align: right;
  display: block;
}
.header_menu ul{
  display: inline-flex;
}
.header_menu ul li{
  margin-left: 25px;
  margin-top: 20px;
}
header ul li a{
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 20px;
  padding: 10px 0;
}

header a:hover{
  color: #ffffff;
}

/* Introdução */
.introducao{
  display: block;
  width: 100%;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 92px;
  height: 380px;
  text-align: center;
  padding-top: 80px;
}

.introducao h1{
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 48px;
}

.quote-externo{
  max-width: 310px;
  margin: 0 auto;
  color: white;
  margin-bottom: 60px;
}
.quote-externo p{
  font-style: italic;
  font-size: 18px;
}
.quote-externo p:before , .quote-externo p:after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #ffffff;
  margin: 14px auto 10px auto;
}

.quote-externo cite{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
}


/* Produtos */
.produtos-home{
  height: 500px;
  margin: 60px auto;
}
.produtos-home-lista{
  display: inline-flex;
}
.produtos-home-lista li{
  margin-top: 40px;
  background: #FFC640;
}
.produtos-home-lista img{
  background: #000000;
  padding: 30px 50px;
}
.texto-produto{
  max-width: 300px;
  text-align: center;
  padding: 20px 26px;
}

/* portfolio */

.portfolio-home{
  width: 100%;
  background: #000000;
}

.portfolio-home .call p{
  color: #ffffff;
}

.portfolio-home .subtitulo-grande{
  margin-top: 60px;
}

.fotos-portfolio{
  margin-top: 40px;
}

.fotos-portfolio :last-child{
  padding-top: 20px;
  margin-bottom: 40px;
}

/* Qualidade */
.qualidade{
  padding-top: 40px;
}
.qualidade:after{
  content: "";
  width: 634px;
  height: 83px;
  background: url("../img/linhas.png") no-repeat center;
  position: absolute;
  top: 187px;
  right: 162px;
  z-index: -1;
}

.qualidade img{
  display: block;
  margin: 40px auto;
}

.qualidade li{
  margin-bottom: 50px;
  text-align: center;
  padding: 0 40px;
}

/* quebra */
.quebra{
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  padding: 40px 0;
}
.quebra .quote-externo{
  text-align: center;
  max-width: 450px;
  margin-bottom: 40px;
}

/* footer */
footer{
  background: #000000;
}
footer .copyright{
  width: 100%;
  background: #FFC640;
}

footer .conteudo,footer .copyright p{
  padding: 20px 0;
}

footer .subtitulo{
  text-align: left;
  margin-bottom: 12px;
}
footer .historia p, footer .contato-footer li{
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.icones-redes-sociais{
  display: inline-flex;
}
.icones-redes-sociais img{
  padding: 10px 10px;
  border:3px solid #FFC640;
  margin-right: 10px;
}
footer .redes-sociais img:hover{
  border-color: #ffffff;
}


